mixin card(name, icon)

  button(type="button").btn.btn-sm.btn-primary-outline.update Update
  button(type="button" style="display: none;").btn.btn-sm.btn-primary-outline.stop Stop
  button(type="button" style="display: none;" disabled).btn.btn-sm.btn-primary-outline.spinner
    img(src="/img/spinner-white.svg" height="17px")
